.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22156e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a1 {

  color : #000000;

}

footer{
  background-color: #3c096c;
  width: 100%;
  height: 250px;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.footer{
  
  color: #ffffff;
  font-size: 18px;
  
}

.h1{
  
  color: #050000;
  font-size: 60px;
  position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.footer-left{
  float: left;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  margin-left: 40%;
  
}


.footer-cen{
  float : left;
  color:white;
  font-size: 20px;
  text-align: left;
  
}


.footer-right{
  float : right;
  color: white;
  font-size: 13px;
  margin-right: 43%;
  margin-top: 6px;
}